<div class="row">
    <div class="col-sm-12 col-md-9 mt-3">
        <h3>{{signUpStatus ? 'Signup page': 'Login page'}}</h3><hr>
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading></app-loading>
        </div>
        <form class="form-group" [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
            <div class="form-group">    
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"
                formControlName="email">
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" class="form-control" id="passwordInput"
                formControlName="password">
            </div>
            <div class="form-group">
                <button class="btn btn-outline-success" type="submit" [disabled]="!authForm.valid">{{signUpStatus ? 'Register': 'Login'}}</button>
                <button class="btn btn-outline-primary ml-2" type="button" (click)="onSignUp()">{{signUpStatus ? 'Login': 'Sign up'}}</button>
            </div>
        </form>
    </div>
</div>
