<div class="row m-3">
    <div class="col-xs-12">
        <img [src]="recipeDetails.imageUrl" alt="" class="img-responsive" height="200px" width="200px">
    </div>
</div>
<div class="row m-3">
    <div class="col-xs-12">
        <h2>{{recipeDetails.name}}</h2>
    </div>
</div>
<div class="row m-3">
    <div class="col-xs-12">
        <div class="dropdown btn-group">
            <button class="btn btn-primary dropdown-toggle">Manage Recipe
            </button>
            <div class="dropdown-menu dropdown-content">
                <a class="dropdown-item" style="cursor: pointer;" (click)="onAddToShoppingList()">To shopping list</a>
                <a href="#" class="dropdown-item">Edit recipe</a>
                <a href="#" class="dropdown-item">Delete recipe</a>
            </div>
        </div>
    </div>          
</div>
<div class="row m-3">
    <div class="col-xs-12">
        <Strong>Description:</Strong>{{ recipeDetails.desc}}
    </div>
</div>
<div class="row m-3">
    <div class="col-xs-12">
        <ul class="list-group list-group-flush">
            <p>Ingredients:</p>
            <li class="list-group-item" *ngFor="let ingr of recipeDetails.ingredients">
                {{ingr.name}}, <Strong>quantity:</Strong> {{ingr.amount}}
            </li>
        </ul>
    </div>
</div>